.vscode/
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/
missing
src/.deps/
src/Makefile.in
src/leddriver
src/*.o
stamp-h1
.deps/
src/.dirstamp
test/.deps/
test/.libs/
test/gtest
test/*.o
test/libgtest.la